---
title: Dopetrope
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">
							<article class="box post">
								<!-- <a href="#" class="image featured"><img src="/images/inauguracao.jpg" alt="" /></a> -->
								<header>
									<a name="sobre"></a>
									<h2>Sobre nós</h2>
									<p>Um pouco sobre a história e trajetória do nosso terreiro.</p>
								</header>
								<section>
									<a href="#" class="image">
										<img src="https://scontent.fjoi1-1.fna.fbcdn.net/v/t1.0-9/29103774_353157245198972_4286168138107503109_n.jpg?_nc_cat=0&oh=417508c8324f0ed80ef555a98c975278&oe=5BA64B95" alt="" />
									</a>

									<header>
										<h3>Fundação</h3>
									</header>

									<p>
										A Tenda de Umbanda Caboclo Pena Branca é um grupo que surgiu e iniciou suas atividades em maio de 2017 em Joinville, interior de Santa Catarina. Tendo como foco a prática da caridade e a auto-evolução dos indivíduos através da espiritualidade.
									</p>
								</section>

								<section>
									<header>
										<h3>Nossa Missão</h3>
									</header>
									<p>
										Contribuir na busca do auto-conhecimento dos indivíduos através da espiritualização. Promover e incentivar atividades e ações religiosas, culturais, sociais e ambientais que possam beneficiar a sociedade em âmbito geral.
									</p>
								</section>

								<section>
									<header>
										<h3>Sacerdote</h3>
									</header>

									<a href="https://www.facebook.com/leonardorifeli" class="image" style='text-align: center' target="_blank">
										<img src="images/sacerdote.jpg" alt="" style='text-align: center' />
									</a>

									<p>
										<strong>Leonardo Rifeli</strong> é sacerdote e fundador da Tenda de Umbanda Caboclo Pena Branca, médium atuante de Umbanda há mais de sete anos.
									</p>							
								</section>
							</article>

							<article class="box post">
								<section>

									<header>
										<h2>Nossa Tradição</h2>
										<p>Um pouco sobre nossa raiz.</p>
									</header>

									<div class="row">
										<div class="12u 12u(mobile)">
											<p>
												Nossa tradição surgiu em Araraquara, interior de São Paulo. Na Tenda São Cosme, São Damião e Doum e as 7 linhas de Umbanda.
												<br/><br/> No inicio era uma casa apenas para familiares e pessoas mais próximas. Depois foi-se abrindo ao público e vários irmãos e irmãs foram chegando e encontrando seu espaço.
												Seguia-se a tradição da Bá anterior e hoje ela foi se expandido. <br/><br/> É uma tradição onde nada se cobra, só se pratica o bem, retira-se o mau, contribuí-se na busca do auto-conhecimento de todos os consulentes e médiuns. 
												Seguimos as regras de nossa mãe de santo onde tudo tem que ser feito para o bem. Apenas para o bem.
											</p>
										</div>
									</div>

									<div class="row">
										<div class="7u 12u(mobile)">
											<div style="float: left; padding-right: 15px;">
												<img src="images/imagem-mae-pai.jpeg" style="width:100%" />
												<p style="text-align: center;">Bá atual e Pai Pequeno.</p>
											</div>
										</div>

										<div class="5u 12u(mobile)">
											<div style="float: left; padding-right: 15px;">
												<img src="images/imagem-vo.jpg" style="width:100%" />
												<p style="text-align: center;">Bá anterior.</p>
											</div>
										</div>
									</div>
								</section>
							</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>