---
title: Dopetrope
layout: default
---
	<body class="right-sidebar">

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">
							<article class="box post">
								<section>

									<header>
										<h2>Sobre a tradição da nossa Tenda</h2>
										<p>Um pouco sobre nossa raiz.</p>
									</header>

									<div class="row">
										<div class="12u 12u(mobile)">
											<a href="#" class="image">
												<img src="https://user-images.githubusercontent.com/6767689/45506784-ac4bdc00-b766-11e8-8bb6-271ff563da50.png" alt="" />
											</a>

											<p>
												Nossa tradição existe desde antes da década de 50, onde a Vó Francisca Santiago Pereira iniciou sua vida mediúnica aos nove anos de idade com a manifestação da Cabocla Juremita, no ano de 1944, em Aracaju, no estado de Sergipe. 
											</p>

											<p>
												Vó Francisca iniciou a Tenda de Umbanda São Cosme, Damião, Doum e as 7 linhas da Umbanda no final da década de 90, em Araraquara SP. Antes disso, todos os rituais eram feitos em casa apenas para os familiares. Em 2001, após uma promessa para São Cosme, Damião e Doum, Vó Francisca abriu a casa para pessoas convidadas participarem das giras.
											</p>

											<p>
												Desde o inicio, os seus guias ditavam toda a ritualística da tradição, tendo como foco principal: nada se cobra, só se pratica o bem e retira-se o mal, contribuir na busca do auto-conhecimento de todos os consulentes e médiuns e auxiliar a sociedade com a festa de São Cosme, Damião e Doum.
											</p>

											<a href="#" class="image">
												<img src="https://user-images.githubusercontent.com/6767689/45506962-2aa87e00-b767-11e8-956c-d1e7e34c30f5.png" alt="" />
											</a>
											<p style="text-align: center;">Vó Francisca Santiago Pereira (21/11/1933 — 25/06/2014)</p>

											<p>
												Vó Francisca faleceu em 25 de junho de 2014 e antes de sua passagem, deixou a linda responsabilidade e missão para sua filha consanguínea e de santo <a href="https://www.facebook.com/gisela.pereiramarconato" target="_blank">Mãe Gisela Pereira Marconato</a>, que desde então continua dirigindo a tenda junto ao seu filho consanguíneo e atual Pai pequeno, <a href="https://www.facebook.com/thiago.pereiramarconato" target="_blank">Pai Thiago Pereira Marconato</a>.
											</p>

											<a href="#" class="image">
												<img src="https://user-images.githubusercontent.com/6767689/45507118-91c63280-b767-11e8-8669-80db2d9bd574.png" alt="" />
											</a>
											<p style="text-align: center;">À esquerda da imagem, Mãe Gisela Pereira Marconato e a direta, Pai Thiago Pereira Marconato — Filha e neto da Vó Francisca, atualmente dirigindo a Tenda São Cosme, Damião e Doum.
</p>

											<p>
												A <a href="https://www.facebook.com/tendacaboclopenabrancajlle/" target="_blank">Tenda de Umbanda Caboclo Pena Branca</a> nasceu em Joinville, interior de Santa Catarina com o <a href="https://www.facebook.com/leonardorifeli" target="_blank">Pai Leonardo Augusto Rifeli</a> que iniciou as atividades da tenda em maio de 2017, recebendo oficialmente a sua consagração para sacerdócio em junho de 2017, de sua Mãe de Santo Gisela Pereira Marconato.
											</p>
										</div>
									</div>
								</section>
							</article>

							<article class="box post">
								<!-- <a href="#" class="image featured"><img src="/images/inauguracao.jpg" alt="" /></a> -->
								<header>
									<a name="sobre"></a>
									<h2>Sobre nós</h2>
									<p>Um pouco sobre a história e trajetória da Tenda de Umbanda Caboclo Pena Branca.</p>
								</header>
								<section>

									<a href="#" class="image">
										<img src="https://cdn-images-1.medium.com/max/1440/0*u8nxbOrAXEtP-GXg" alt="" />
									</a>

									<p>
										A Tenda iniciou em maio de 2017 com um grupo pequeno de pessoas, nossas giras ocorriam em uma garagem com poucos recursos e sempre tendo como foco a prática da caridade e a auto-evolução dos indivíduos através da espiritualidade, seguindo os valores de sua matriarca.
									</p>

									<p>
										No inicio de setembro de 2017, inauguramos a tenda no endereço Rua Cidade de Damasco entregando alguns valores para a sociedade.
									</p>

									<a href="#" class="image">
										<img src="https://cdn-images-1.medium.com/max/1440/0*uLQw_Ab2plSIHOEM" alt="" />
									</a>
									<p>Leonardo Rifeli — Sacerdote da Tenda de Umbanda Caboclo Pena Branca, neto da Vó Francisca e filho da Mãe Gisela. Médium atuante desde 2010, iniciou na tradição em 2014.</p>

									<a href="#" class="image">
										<img src="https://cdn-images-1.medium.com/max/1440/1*Xw7EDTIUjQuEQR4a_-ycvQ.png" alt="" />
									</a>
								</section>
							</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>