# Nossos Pilares

#### Missão

Desenvolver a espiritualidade com foco na mediunidade de incorporação, divulgar a Umbanda como religião e filosofia de vida, manifestando-se através das atitudes dos membros ativos, tendo respeito ao ser humano, a natureza e principalmente  ao sagrado.
Contribuir na busca do autoconhecimento e expansão de consciência dos indivíduos através da espiritualização. Promover ações que possibilitam gerar diálogos e levarmos conhecimento e informação sobre a religião de Umbanda em nossa ótica.

#### Visão

Expandir com qualidade tornando-se referência na luta contra o preconceito religioso, construindo uma corrente de pessoas aptas e preparadas a contribuírem com este ecossistema.

#### Valores

- Não negamos auxílio e não cobramos pelos trabalhos e/ou atendimento;
- Aceitamos as diversidades;
- Temos espírito inquieto;
- Vontade incansável de contribuir;
- Não toleramos a discórdia, o ódio, o desrespeito ou quaisquer questões fora do senso comum, seja para si ou terceiros;
- Acreditamos em um Deus único (chamamos de Olorum);
- Não fazemos sacrifícios de animais;
- Não fazemos trabalhos de amarração;
- Não interferimos no livre arbítrio de ninguém;
- Acreditamos que o conhecimento liberta e expande nossa consciência.

Venha nos conhecer! Você será muito bem-vindo(a).