<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <hr class="primary">
            </div>

            <div id="medium-widget"></div>
            <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
            <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/tenda-de-umbanda-caboclo-pena-branca","postsPerLine":2,"limit":4,"picture":"small","fields":["description","author","publishAt"],"ratio":"square"}})</script>
        </div>
    </div>
</section>
