<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Um pouco sobre nós</h2>

                <hr class="light">

                <br/><img src="/img/logo.svg" style="width: 40%" alt="" /><br/><br/><br/>
    
                <p class="text-faded">
                    Nossa tradição existe desde antes da década de 50, onde a Vó Francisca Santiago Pereira iniciou sua vida mediúnica aos nove anos de idade com a manifestação da Cabocla Juremita, no ano de 1944, em Aracaju, no estado de Sergipe.
                </p>

                <p class="text-faded">
                    A Tenda do Caboclo Pena Branca iniciou em maio de 2017, em Joinville, com um grupo pequeno de pessoas, nossas giras ocorriam em uma garagem com poucos recursos e sempre tendo como foco a prática da caridade e a auto-evolução dos indivíduos através da espiritualidade, seguindo os valores de sua matriarca.
                </p>

                <p class="text-faded">
                    Clique no botão abaixo e leia mais.
                </p>

                <br/><br/>

                <a href="https://medium.com/tenda-de-umbanda-caboclo-pena-branca/sobre-a-tradi%C3%A7%C3%A3o-da-nossa-tenda-cce2a213d3d3" target="_blank" class="btn btn-default btn-xl">Leia mais</a>
            </div>
        </div>
    </div>
</section>
