<section class="bg-primary" id="colaboration">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Como posso contribuir?</h2>

                <hr class="light">

                <br/>
                <p>Projeto apoaia.se</p>
               <a href="https://apoia.se/tendadocaboclopenabranca" target="_blank"> <img src="/img/apoio.png" style="width: 40%" alt="" /></a>
                <br/><br/><br/>
    
                <p class="text-faded">
                    Por que precisamos da sua contribuição? <br/><br/>
                    Nosso trabalho é totalmente filantrópico, não cobramos nenhum valor em nossos trabalhos e atendimentos, são todos caritativos. Porém, precisamos manter toda uma estrutura física para que os atendimentos ocorram de maneira ideal. Com isso, temos alguns custos fixos para que os atendimentos ocorram como:
                </p>

                <br/>

                <p class="text-faded">
                    - Aluguel; <br/>
                    - Custo com Água, Luz e taxa de lixo; <br/>
                    - Itens de limpeza, higiene; <br/>
                    - Custo com itens dos rituais (velas, bebidas, oferendas, manutenção de imagens, etc). <br/>
                    - Os ítens principais, passam de mil reais por mês e atualmente estamos arcando com mensalidade de alguns médiuns da nossa tenda, porém ainda é necessário cobrir valores para que continuemos com nossa atuação. <br/>
                <p>

                <br/>

                <p class="text-faded">
                    Portanto, qualquer quantidade será muito bem-vinda e acreditamos ser necessário você conhecer mais sobre os nossos trabalhos. Abaixo trazemos mais detalhes e você pode visitar-nos também! <br/>
                    Clique no botão abaixo e leia mais na página da campanha.
                </p>

                <br/><br/>

                <a href="https://apoia.se/tendadocaboclopenabranca" target="_blank" class="btn btn-default btn-xl">Leia mais</a>
            </div>
        </div>
    </div>
</section>
