<section id="contato">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contato</h2>
                <hr class="primary">
                <p>Entre em contato conosco! Para saber detalhes do endereço, entre em contato pela nossa página.</p>
            </div>
        </div>

        <div class="row">
            <br/>

            <div class="col-lg-2 col-lg-offset-3 text-center">
                <a href="https://facebook.com/tendacaboclopenabrancajlle/">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>

            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="mailto:contato@caboclopenabranca.org">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
    </div>
</section>
