<!DOCTYPE HTML>
<html>
	<head>
		<title>Tenda de Umbanda Caboclo Pena Branca - Terreiro em Joinville</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-Frame-Options" content="sameorigin">
		<meta name="viewport" content="width=device-width">
		<meta name="Googlebot" content="all"/>
		<meta name="Robots" content="index,follow"/>
		<meta name="author" content="Tenda de Umbanda Caboclo Pena Branca"/>
		<meta name="reply-to" content="contato@caboclopenabranca.org"/>
		<meta name="description" content="Tenda de Umbanda fundada em maio de 2017, localizado em Joinville, interior de Santa Catarina. Nosso site: www.caboclopenabranca.org.">
		<meta name="keywords" content="terreiro de umbanda, terreiro, gira de umbanda, tenda de umbanda, caboclo pena branca, tenda de umbanda caboclo pena branca, boiaideiro zé do berrante, 7 linhas de umbanda"/>
		<meta property="og:image" content="https://caboclopenabranca.org/images/logo-facebook-3.jpg?v2"/>
		<link rel="image_src" href="https://caboclopenabranca.org/images/logo-facebook-3.jpg?v2"/>
		<meta property="og:title" content="Tenda de Umbanda Caboclo Pena Branca"/>
		<meta property="fb:app_id" content="298059584042072"/>
		<meta property="og:type" content="Website"/>
		<meta property="og:description" content="Tenda de Umbanda fundada em maio de 2017, localizado em Joinville, interior de Santa Catarina. Nosso site: www.caboclopenabranca.org."/>
		<meta property="og:url" content="https://caboclopenabranca.org"/>
		<link rel="canonical" href="https://caboclopenabranca.org">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110132476-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-110132476-1');
		</script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/skel-layers.min.js"></script>
		<script src="/assets/js/init.js"></script>

		<noscript>
			<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
			<link rel="stylesheet" href="/assets/css/skel.css" />
			<link rel="stylesheet" href="/assets/css/style.css" />
			<link rel="stylesheet" href="/assets/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>