<section id="pilares">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossos principais pilares</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary"></i>
                    <h3>Missão</h3>
                    <p class="text-muted">
                        Contribuir na busca do auto-conhecimento dos indivíduos através da espiritualização. Promover e incentivar atividades e ações religiosas, culturais, sociais e ambientais que possam beneficiar a sociedade em âmbito geral.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Visão</h3>
                    <p class="text-muted">Quebrar o preconceito universal sobre a Umbanda, levando conhecimentos gerais e específicos da nossa tradição, contribuindo com o ecossistema e a sociedade como um todo, unindo as pessoas para um mundo melhor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Valores</h3>
                    <p class="text-muted">
                        - Não negamos auxílio; <br/>
                        - Não cobramos pelos trabalhos ou atendimentos; <br/>
                        - Aceitamos as diversidades; <br/>
                        - Temos espírito inquieto; <br/>
                        - Não toleramos a discórdia, o ódio, o desrespeito ou quaisquer questões negativas para si ou terceiros.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
