<div class="4u">

	<section class="box">
		<header>
			<h3>Facebook</h3>
		</header>
		
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftendacaboclopenabrancajlle%2F&tabs=timeline&width=300&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1428632174039511" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	</section>

	<section class="box">
		<header>
			<h3>Federação</h3>
		</header>
		<p>Nossa tenda é filiada a <a href="http://www.fuca.org.br/" target="_blank">FUCA</a> (federação da União dos Cultos Afro-Brasileiros) desde 14 de Dezembro de 2017.</p>

		<a href="http://www.fuca.org.br/" target="_blank">
			<img src="images/fuca-img.jpeg" style="width: 100%" />
		</a>
	</section>

	<!-- Sidebar -->
	{% for post in site.posts offset: 0 limit: 2 %}
		<section class="box">
			<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
			<header>
				<h3>{{ post.title }}</h3>
			</header>
			{{ post.excerpt | truncatewords: 17 }}
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Leia mais</a>
			</footer>
		</section>
	{% endfor %}

</div>